---
import Card from '@/components/common/Card.astro';
import Code from '@/components/common/Code.astro';

export const contentOrder = 5;
export const id = 'previousElementSibling';
const code = `output.textContent = String(button.previousElementSibling?.tagName);`;
---

<Card id={id}>
  <h2>element.{id}</h2>
  <p>要素の直前にある要素を取得します。ない場合はnullが出力されます。</p>
  <Code code={code} />
  <button type='button'>直前の要素を取得する</button>
  <output></output>
</Card>

<script>
  const root = document.getElementById('previousElementSibling');
  if (root) {
    const button = root.querySelector('button');
    const output = root.querySelector('output');
    if (button && output) {
      button.addEventListener('click', () => {
        output.textContent = String(button.previousElementSibling?.tagName);
      });
    }
  }
</script>
