---
import Card from '@/components/common/Card.astro';
import Code from '@/components/common/Code.astro';

export const contentOrder = 2;
export const id = 'touches';
const code = `element.addEventListener('touchstart', (event) => {
  console.log(event.touches);
})`;
---

<Card id={id}>
  <h2>e.touches</h2>
  <p>イベント発火時に画面すべての指の情報を取得する。</p>
  <Code code={code} />
  <button type='button'>取得する</button>
  <output></output>
</Card>

<script>
  const root = document.getElementById('touches');
  if (root) {
    const button = root.querySelector('button');
    const output = root.querySelector('output');
    if (button && output) {
      button.addEventListener('touchstart', (e) => {
        output.textContent = JSON.stringify(e.touches);
      });
      button.addEventListener('click', (e) => {
        output.textContent = 'PCではtouchEventが動きません。';
      });
    }
  }
</script>
