---
import Card from '@/components/common/Card.astro';
import Code from '@/components/common/Code.astro';

export const contentOrder = 16;
export const id = 'stop';
const code = ``;
---

<Card id={id}>
  <h2>window.stop()について</h2>
  <p>ブラウザの読み込みを停止する</p>
</Card>
