---
import Card from '@/components/common/Card.astro';
import Code from '@/components/common/Code.astro';

export const contentOrder = 8;
export const id = 'userAgent';
const code = `console.log(navigator.userAgent)`;
---

<Card id={id}>
  <h2>navigator.userAgentについて</h2>
  <p>ブラウザのユーザーエージェントを取得する</p>
  <Code code={code} />
  <button type='button'>取得</button>
  <output></output>
</Card>

<script>
  const root = document.getElementById('userAgent');
  if (root) {
    const button = root.querySelector('button');
    const output = root.querySelector('output');
    if (button && output) {
      button.addEventListener('click', () => {
        output.textContent = navigator.userAgent;
      });
    }
  }
</script>
