@use '../foundation/' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 0.875rem;
}

html {
  font-size: 100%;
  font-family: sans-serif;
  scroll-behavior: smooth;
  color: var(--black);
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: inherit;
}
h2 {
  font-weight: 600;
}

p {
  font-size: 0.875rem;
}

a {
  display: block;
  width: fit-content;
  font-size: 1rem;
  color: mix-transparent(black, 60);
  text-decoration: none;
  transition: 0.2s;
  @include hover() {
    color: mix-transparent(black, 100);
    text-decoration: underline;
  }
}

button {
  display: block;
  width: fit-content;
  padding: 0.25rem 1rem;
  background: mix-transparent(black, 80);
  border: none;
  color: #fff;
  cursor: pointer;

  @include hover() {
    background: mix-transparent(black, 100);
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul,
ol {
  padding-left: 1rem;
}

output {
  display: grid;
  padding: 1rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  border: 1px solid mix-transparent(black, 5);
  background: mix-transparent(black, 5);
  color: mix-transparent(black, 65);
  white-space: pre-line;
  &::before {
    content: '動作結果：';
    font-size: 0.75rem;
  }
}

canvas {
  display: grid;
  border: 1px solid mix-transparent(black, 25);
  width: 200px;
  height: 200px;
}

output > canvas {
  margin-top: 0.5rem;
  background: #fff;
}
