@use '../foundation/' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: inherit;
}

a {
  display: block;
  font-size: 1rem;
  color: mix-transparent(black, 60);
  text-decoration: none;
  transition: 0.2s;
  @include hover() {
    color: mix-transparent(black, 100);
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul,
ol {
  padding-left: 1rem;
}
