---
import Layout from '@/layouts/Layout.astro';
import Code from '@/components/common/Code.astro';

export const order = 1;
export const title = 'DOM';
---

<Layout title='test'>
  <a class='return' href='/client'>戻る</a>
</Layout>
