---
import Layout from '@/layouts/Layout.astro';

export const order = 1;
export const title = 'DOM - 一覧';
---

<Layout title='test'>
  <section>
    <h1>こんにちは</h1>
    <p>{order}</p>
  </section>
</Layout>
