---
import Layout from '@/layouts/Layout.astro';

import type { AstroComponentFactory } from 'astro/runtime/server/index.js';
export const order = 1;
export const title = 'DOM';

interface CardProps {
  contentOrder?: number;
  default: AstroComponentFactory;
}

const cards = await Astro.glob<CardProps>('./*/*.astro');
const sortedCards = cards.sort(
  (a, b) => (a.contentOrder ?? 0) - (b.contentOrder ?? 0),
);
---

<Layout title={title}>
  <ul class='cards'>
    {
      sortedCards.map(({ default: Item }) => (
        <li class='cards__item'>
          <Item />
        </li>
      ))
    }
  </ul>
  <a class='return' href='/client'>戻る</a>
</Layout>
