---
interface Props {
  id: string;
}
const { id } = Astro.props as Props;
---

<li id={id} class='card'>
  <slot />
</li>

<style lang='scss'>
  @use '@assets/style/foundation' as *;
  .card {
    display: grid;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 0.25rem;
    border: 1px solid;
    border-color: mix-transparent(black, 20);
  }
</style>
