---
interface PageFrontmatter {
  url: string;
  title: string;
  order: number;
}

interface ContentsProps {
  contents: PageFrontmatter[];
}

const { contents } = Astro.props as ContentsProps;
const sortedContents = contents.sort((a, b) => a.order - b.order);
---

<ul class='contents-list'>
  {
    sortedContents.map((content) => (
      <li class='contents-list__content'>
        <a href={content.url}>{content.title}</a>
      </li>
    ))
  }
</ul>

<style>
  .contents-list {
    margin-top: 1rem;
    margin-bottom: 2rem;
    &:first-child {
      margin-top: 0;
    }
  }
</style>
